<nav>
    <div class="nav-wrapper toolbar">
        <a href="#" data-target="formList" class="brand-logo left sidenav-trigger">
            <i class="material-icons">menu</i>
        </a>
    </div>
</nav>

<ul id="formList" class="sidenav">
    <li>
        <div class="user-view">
            <div class="background">
                <img src="assets/images/office.jpg">
            </div>
            <a href="#user"><img class="circle" src="assets/images/laptop-user.png"></a>
            <a href="#name"><span class="white-text name">User Name</span></a>
            <a href="#email"><span class="white-text email">username@gmail.com.br</span></a>
        </div>
    </li>
    <li *ngFor="let form of routeForms">
        <a [routerLink]="[form.route]">
            <i class="material-icons">{{form.icon}}</i>
            {{form.nameForm}}</a>
    </li>
    <!-- <li class="divider"></li>
    <li><a href="#!">three</a></li> -->
</ul>

<ul id="formList" class="sidenav">
    <li>
        <div class="user-view">
            <div class="background">
                <img src="images/office.jpg">
            </div>
            <a href="#user"><img class="circle" src="images/yuna.jpg"></a>
            <a href="#name"><span class="white-text name">John Doe</span></a>
            <a href="#email"><span class="white-text email">jdandturk@gmail.com</span></a>
        </div>
    </li>
    <li><a href="#!"><i class="material-icons">cloud</i>First Link With Icon</a></li>
    <li><a href="#!">Second Link</a></li>
    <li>
        <div class="divider"></div>
    </li>
    <li><a class="subheader">Subheader</a></li>
    <li><a class="waves-effect" href="#!">Third Link With Waves</a></li>
</ul>